/**
 * Header
 */
header {
  background: #f00;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}

.title-site {
  font-size: 14vmin;
  position: relative;

  > span {
    display: block;
    transform: scale(1, 0.5);
  }

  > span:first-child {
    margin-left: -1vmin;
    font-size: 22.1vmin;
    margin-bottom: -10vmin;
  }
}

/**
 * Entry
 */
article {
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: stretch;
  flex-wrap: wrap;
}

article > div {
  min-height: 100vh;
  width: 50%;
}

html.mobile article > div {
  width: 100%;
}

.text {
  display: flex;
  align-items: center;
  padding: 25vh 5vh;
  position: relative;
}

.media {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.media-margin {
  margin-top: -25vmin;
}

.media-caption {
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5vmin;
  text-align: center;
  z-index: 9;
}

/**
 * Backgrounds
 */

.bg-blue {
  background: #00f;
  // border: 2.5vmin solid #00f;
}

.bg-green {
  background: #0f0;
  // border: 2.5vmin solid #0f0;
}

.bg-red {
  background: #f00;
  // border: 2.5vmin solid #f00;
}

.bg-black {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 99;
}

/**
 * Rotation
 */

.rotate-0,
.rotate-90,
.rotate-180,
.rotate-270 {
  transform-origin: 50% 50%;
}

.rotate-0 {
  transform: translate(-50%, -50%);
}

.rotate-90 {
  transform: translate(-50%, -50%) rotate(90deg);
}

.rotate-180 {
  transform: translate(-50%, -50%) rotate(180deg);
}

.rotate-270 {
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}

/**
 * Media
 */

article.text-wide > div {
  width: 100%;
}

.media-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.media-contain {
  position: relative;

  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.img-cover {
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.img-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/**
 * Footer
 */
footer {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 90vh;
  padding: 5vmin;
  position: relative;
  margin-bottom: 10vmin;
}

html:not(.firefox) footer,
html footer {
  a,
  .type-stroke {
    color: #f00;
    -webkit-text-stroke-width: 0;
  }
}

/**
 * Frame
 */
.frame-bitch {
  line-height: 1;
  text-transform: uppercase;
  font-size: 20vmin;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  span {
    padding: 0 7px;
  }

  > * {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
  }

  > *:first-child {
    top: 0;
  }

  > *:last-child {
    bottom: 0;  
  }
}

@media (max-width: @mobile) {
  .frame-bitch {
    font-size: 15vh;
  }
}

/**
 * Padding
 */

.pad-xs-medium {
  padding: 10vmin;
}

/**
 * Titles
 */

.title-pussy {
  background: url(../media/pussy.svg) no-repeat center;
  background-size: 100%;
  height: 0;
  padding-bottom: 27.4212369%;
  width: 100%;
}

.title-subscribe {
  background: url(../media/subscribe.svg) no-repeat center;
  background-size: 100%;
  height: 0;
  padding-bottom: 27.4738068%;
  width: 100%;
}

/**
 * Sizes
 */
 
.width-half {
	width: 50%;
}