/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #f00;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  bottom: 0;

  width: 100%;
}

/* Fancy blur effect */
#nprogress .peg {

}

/* Remove these to get rid of the spinner */
#nprogress .spinner {

}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}