@import 'styles/reset';
@import 'styles/layout';
@import 'styles/progress';

@mobile: 700px;

body {
  font-size: 4vmin;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;

  &.loading {
    overflow: hidden;
  }
}

.header-title {
  background: url(../media/title.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.flash-strobe {
  background: #f00;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 666;
}

.flash-background {
  background: #000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 665;
}

.container-loading {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 666;
}

.season {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

.rantype {
  pointer-events: none;
  position: fixed;
  top: 0%;
  left: 50%;
}

[data-scroll-to-content] {
  cursor: pointer;
}

/**
 * Typography
 */

p {
  margin: 1em 0;
  &:first-child { margin-top: 0 }
  &:last-child { margin-bottom: 0 }
}

.type-copy {
  font-family: 'Roboto Condensed', sans-serif;
}

.type-default {
  font-family: 'Montserrat', sans-serif;
}

.type-stretch-v,
.type-stretch-h {
  .type-default;
}

.type-stretch-v {
  display: inline-block;
  font-size: 2em;
  transform: scale(0.5, 1);
}

.text .type-stretch-v {
  margin: 0 -50%;
}


.type-stretch-h {
  display: inline-block;
  font-size: 2em;
  transform: scale(1, 0.5);
}

.text .type-stretch-h {
  margin: -50% 0;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.type-center {
  text-align: center;
  justify-content: center;
}

.type-lowercase {
  text-transform: lowercase;
}

.type-medium {
  font-size: 6.5vmin;
}

.type-big {
  font-size: 11vmin;
}

.type-bigger {
  font-size: 16vmin;
}

.type-normal {
  font-size: 4vmin;
}

.type-small {
  font-size: 1.5vmin;
}

.color-red {
  color: #f00;
}

.type-stroke {
  color: #000;
}

html:not(.firefox) {
  .type-stroke {
    color: transparent;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #000;
  }

  .color-black.type-stroke,
  .color-black .type-stroke {
    -webkit-text-stroke-color: #000;
  }

  .color-white.type-stroke,
  .color-white .type-stroke {
    -webkit-text-stroke-color: #fff;
  }
}

/**
 * Stack
 */

.stack-one { z-index: 1 }
.stack-two { z-index: 2 }
.stack-three { z-index: 3 }
.stack-four { z-index: 4 }
.stack-five { z-index: 5 }
.stack-six { z-index: 6 }